.comments_margin {
    margin: auto;
    margin-top: 9.1%;
}

@media screen and (max-width: 1024px) {
    .comments_margin {
        margin-top: 11%;
    }
}

@media screen and (max-width: 768px) {
    .comments_margin {
        margin-top: 13.5%;
    }
}

@media screen and (max-width: 375px) {
    .comments_margin {
        margin-top: 17.5%;
    }
}
@media screen and (max-width: 320px) {
    .comments_margin {
        margin-top: 21%;
    }
}