@import url('../../fonts/InterWeb/inter.css');
@import url('../header/__logo/header__logo.css');
@import url('../header/__lang/header__lang.css');
@import url('../header/_margin/header_margin.css');
@import url('../header/__language-button/header__language-button.css');
@import url('../header/__language-button/_selected/header__language-button_selected.css');
.header {
    width: 1184px;
    display: flex;
    justify-content: space-between;
    font-family: Inter, Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

 @media screen and (max-width: 1279px) {
    .header {
        width: 94%;
    }
}
 @media screen and (max-width: 1024px) {
    .header {
        max-width: 90.7%;
    }
}
 @media screen and (max-width: 768px) {
    .header {
        max-width: 93.8%;
    }
}
 @media screen and (max-width: 375px) {
    .header {
        max-width: 91.5%;
    }
}
 @media screen and (max-width: 320px) {
    .header {
        max-width: 90%;
    }
}
