.video__text {
    margin-top: 19%;
}

@media screen and (max-width: 1024px) {
    .video__text {
        margin-top: 15%;
    }
}
@media screen and (max-width: 854px) {
    .video__text {
        margin-top: 4.5%;
    }
}

@media screen and (max-width: 650px) {
    .video__text {
        margin-top: 0;
    }
}
