.lead__image {
    width: 100%;
    max-height: 554px;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-height: 554px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-height: 420px;
    }
}

@media screen and (max-width: 375px) {
    .lead__image {
        max-height: 211px;
    }
}