.intro__facts {
    margin-top: 1.2%;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    list-style-type: none;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .intro__facts {
        margin-top: 16px;
    }
}

@media screen and (max-width: 768px) {
    .intro__facts {
        margin-top: 24px;
    }
}

@media screen and (max-width: 375px) {
    .intro__facts {
        margin-top: 36px;
        font-size: 12px;
        line-height: 19px;
    }
}