.comments__item {
    width: 32.3%;
}

.comments__item:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1024px) {
    .comments__item {
        width: 296px;
    }
}

@media screen and (max-width: 1000px) {
    .comments__item {
        width: 31%;
    }
}

@media screen and (max-width: 768px) {
    .comments__item {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto 50px;
    }
    .comments__item:last-child {
        margin: 0 auto;
    }
}

@media screen and (max-width: 425px) {
    .comments__item {
        width: 100%;
    }
}