.video__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 8px 0px 0px 0px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .video__subtitle {
        margin: 14px 0px 0px 0px;
    }
}

@media screen and (max-width: 768px) {
    .video__subtitle {
        margin: 10px 0px 0px 0px;
    }
}