.photo-grid_margin {
    margin: auto;
    margin-top: 8.2%;
}

@media screen and (max-width: 1024px) {
    .photo-grid_margin {
        margin-top: 9.6%;
    }
}
@media screen and (max-width: 768px) {
    .photo-grid_margin {
        margin-top: 12.1%;
    }
}

@media screen and (max-width: 375px) {
    .photo-grid_margin {
        margin-top: 18%;
    }
}
@media screen and (max-width: 320px) {
    .photo-grid_margin {
        margin-top: 21%;
    }
}